<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patient Dashboard</title>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
 <div class="sidebar">
  <div class="sidebar-brand">
    <img class="im" src="../../assets/img/logo.png" alt="">
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a class="active" routerLink="/patients/appointement">
        <i class="las la-stethoscope"></i>
        <span class="nav-item">Make A Consultation</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/consultations">
        <i class="las la-list-alt"></i>
        <span class="nav-item">Consultations</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/documents">
        <i class="las la-folder-open"></i>
        <span class="nav-item">Documents</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/account">
        <i class="las la-user"></i>
        <span class="nav-item">Account</span>
        </a>
      </li>
    </ul>
  </div>
 </div>
 <div class="main-content">
  <header>
    <h1>
      <label for="">
      <span class="las la-list-alt"></span>
      </label>
      Consultations
    </h1>
    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="Search here"/>
    </div>
    <div class="user-wrapper">
      <img src="../../assets/img/user.png" width="40px" height="40px" alt="">
      <div>
        <h4>Hello,</h4>
        <h5>Patient Name</h5>
      </div>
    </div>
  </header>
  <main class="left-align">
    <div class="main-content">
      <!-- Main Content -->
      <div class="container mt-5">
        <h2>Consultations List</h2>
        <div *ngIf="consultations.length > 0; else noData">
          <table class="table table-striped user-list">
            <thead>
              <tr>
                <th class="light-grey-text">Status</th>
                <th class="light-grey-text">Start Time</th>
                <th class="light-grey-text">End Time</th>
                <th class="light-grey-text">Concerns</th>
                <th class="light-grey-text">Doctor</th>
                <th class="light-grey-text">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consultation of consultations">
                <td class="light-grey-text">{{ consultation.status }}</td>
                <td class="light-grey-text">{{ consultation.startTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td class="light-grey-text">{{ consultation.endTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td class="light-grey-text">{{ consultation.concerns }}</td>
                <td class="light-grey-text">{{ consultation.doctor.firstName }}</td>
                <td>
                  <button
                    (click)="openVideoCall(consultation.link)"
                    class="btn btn-success">
                    Start Video Call
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noData>
          <p class="light-grey-text">No consultations available.</p>
        </ng-template>
      </div>
    </div>
  </main>   
 </div>
</body>
</html>



