<div class="header">
  <!-- Navbar component -->
  <app-navbar></app-navbar>
</div>
<div class="content-wrapper row">

  <div class="sidebar custom-sidebar">
    <!-- Sidebar component -->
    <app-sidebar></app-sidebar>
  </div>
  <!-- account.component.html -->
  <div class="main-content">
    <div class="container mt-5">
      <div class="card prescription-card">
        <div class="card-header">
          <h2>Dr {{onePrescription.doctor.firstName}} {{onePrescription.doctor.lastName}}</h2>
          <p>{{onePrescription.doctor.proficiency}}</p>
          <p>{{onePrescription.doctor.doctorInformation.phoneNumber}}</p>
          <p>{{onePrescription.doctor.email}}</p>

        </div>
        <div class="card-body">
          <!-- Content inside the prescription card -->
          <div class="prescription-content">
            <div class="patient-info">
              <h3>Patient Information</h3>
              <p>Name: {{onePrescription.patient.firstName}} {{onePrescription.patient.lastName}}</p>
              <p>Age : {{onePrescription.patient.patientInformation.age}} </p> 
            </div>
            <div class="medication-info">
              <h3>Medication</h3>
              <ul>
                <li *ngFor="let oneMedicine of onePrescription.medicines" >
                  {{oneMedicine.medicineName  }}: Take {{oneMedicine.morning}} tablet in the morning {{oneMedicine.afternoon}} in the afternoon {{oneMedicine.night}} night
                </li>
                <!-- Add more medication details as needed -->
              </ul>
            </div>
            <div class="doctor-info">
              <h3>Doctor's Recommendation</h3>
              <p>Take the prescribed medication as directed. Follow up after one week.</p>
              <!-- Add the QR code component with the generated QR code data -->
              <!-- Add the QR code component with the generated QR code data -->
              <qrcode [qrdata]="'kkom'" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>

            </div>
          </div>
          <button class="btn btn-primary" (click)="printPrescription()">Print</button>

        </div>
      </div>
    </div>
  </div>

</div>