@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* Part1 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
} 
.sidebar{
  width: 345px;
  position: fixed;
  left:0;
  top:0;
  height: 100%;
  background:#01B99A ;
}
.sidebar-brand{
  height:10px;
  margin-bottom: 150px;
  margin-left: 60px;

}
.im{
  width:150px;
  height: 150px;
  
}
.sidebar-menu{
  margin-top: 1rem;
}
.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;

}
.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}
.sidebar-menu a span :first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.sidebar-menu a.active{
  background:#fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #01B99A;
  border-radius: 30px 0px 0px 30px;
  margin-right: 50px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding-right: -90px;

}
.main-content{
  margin-left: 345px;

}
header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
header h1 {
  color: #222;
}
header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}
.search-wrapper{
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;

}
.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}
.search-wrapper input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}
.user-wrapper{
  display: flex;
  align-items: center;

}
.user-wrapper img {
  margin-right: 2rem;
}
.user-wrapper small {
  display: inline-block;
  color: #000000;
}
/* Part2 */
main {
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 2000px;
}

.main-body {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-left: -270px;
  margin-top: -120px;
  /* Align the form on the left */
}

h2 {
  color: #333; /* Darker text color */
  border-bottom: 2px solid #01B99A;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: darkgrey;
}

.form-control {
  border: none;
  border-bottom: 1px solid darkgrey;
  padding: 10px;
  width: 600px; /* Make the input fields 3 times wider */
}

.btn-primary {
  background-color: #01B99A;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #008b76;
}
