<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patient Dashboard</title>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
 <div class="sidebar">
  <div class="sidebar-brand">
    <img class="im" src="../../assets/img/logo.png" alt="">
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a class="active" routerLink="/patients/appointement">
        <i class="las la-stethoscope"></i>
        <span class="nav-item">Make A Consultation</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/consultations">
        <i class="las la-list-alt"></i>
        <span class="nav-item">Consultations</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/documents">
        <i class="las la-folder-open"></i>
        <span class="nav-item">Documents</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/account">
        <i class="las la-user"></i>
        <span class="nav-item">Account</span>
        </a>
      </li>
    </ul>
  </div>
 </div>
 <div class="main-content">
  <header>
    <h1>
      <label for="">
      <span class="las la-user"></span>
      </label>
      Account
    </h1>
    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="Search here"/>
    </div>
    <div class="user-wrapper">
      <img src="../../assets/img/user.png" width="40px" height="40px" alt="">
      <div>
        <h4>Hello,</h4>
        <h5>Patient Name</h5>
      </div>
    </div>
  </header>
  <main>
    <section class="main">
        <div class="main-body">
            <form>
                <h2 style="  width: 400px; ">Patient Information's</h2>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" formControlName="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" formControlName="lastName">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" class="form-control" formControlName="age">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" formControlName="phoneNumber">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender" class="form-control" formControlName="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
</main>
 </div>
</body>
</html>



