<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patient Dashboard</title>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
 <div class="sidebar">
  <div class="sidebar-brand">
    <img class="im" src="../../assets/img/logo.png" alt="">
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a class="active" routerLink="/patients/appointement">
        <i class="las la-stethoscope"></i>
        <span class="nav-item">Make A Consultation</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/consultations">
        <i class="las la-list-alt"></i>
        <span class="nav-item">Consultations</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/documents">
        <i class="las la-folder-open"></i>
        <span class="nav-item">Documents</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/account">
        <i class="las la-user"></i>
        <span class="nav-item">Account</span>
        </a>
      </li>
    </ul>
  </div>
 </div>
 <div class="main-content">
  <header>
    <h1>
      <label for="">
      <span class="las la-stethoscope"></span>
      </label>
      Make A Consultation
    </h1>
    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="Search here"/>
    </div>
    <div class="user-wrapper">
      <img src="../../assets/img/user.png" width="40px" height="40px" alt="">
      <div>
        <h4>Hello,</h4>
        <h5>Patient Name</h5>
      </div>
    </div>
  </header>
  <main>
    <section class="main">
      <div class="main-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-box clearfix">
              <div class="table-responsive">
                <table class="table user-list">
                  <thead>
                    <tr>
                      <th><span>Full Name</span></th>
                      <th><span>Date</span></th>
                      <th class="text-center"><span>Price</span></th>
                      <th><span>Email</span></th>
                      <th><span>Consultation Times</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let doctor of doctors">
                      <td>
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <a href="#" class="user-link">{{doctor.firstName}} {{doctor.lastName}}</a>
                        <span class="user-subhead">{{doctor.proficiency}}</span>
                      </td>
                      <td>
                        {{doctor.createdAt}}
                      </td>
                      <td class="text-center">
                        <span class="label label-default">{{doctor.price}}</span>
                      </td>
                      <td>
                        <a href="#">{{doctor.email}}</a>
                      </td>
                      <td>
                        <div *ngFor="let time of consultationTimes; let i = index">
                          <div class="row mb-3" *ngIf="i % 2 === 0">
                            <div class="col-md-6">
                              <button class="btn btn-primary" (click)="onTimeClick(consultationTimes[i], doctor.id)">{{consultationTimes[i]}}</button>
                            </div>
                            <div class="col-md-6" *ngIf="consultationTimes[i + 1]">
                              <button class="btn btn-primary" (click)="onTimeClick(consultationTimes[i + 1], doctor.id)">{{consultationTimes[i + 1]}}</button>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </main>
 </div>
</body>
</html>



