<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patient Dashboard</title>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
 <div class="sidebar">
  <div class="sidebar-brand">
    <img class="im" src="../../assets/img/logo.png" alt="">
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a class="active" routerLink="/patients/appointement">
        <i class="las la-stethoscope"></i>
        <span class="nav-item">Make A Consultation</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/consultations">
        <i class="las la-list-alt"></i>
        <span class="nav-item">Consultations</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/documents">
        <i class="las la-folder-open"></i>
        <span class="nav-item">Documents</span>
        </a>
      </li>
      <li>
        <a class="active" routerLink="/patients/account">
        <i class="las la-user"></i>
        <span class="nav-item">Account</span>
        </a>
      </li>
    </ul>
  </div>
 </div>
 <div class="main-content">
  <header>
    <h1>
      <label for="">
      <span class="las la-stethoscope"></span>
      </label>
      Make A Consultation
    </h1>
    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="Search here"/>
    </div>
    <div class="user-wrapper">
      <img src="../../assets/img/user.png" width="40px" height="40px" alt="">
      <div>
        <h4>Hello,</h4>
        <h5>Patient Name</h5>
      </div>
    </div>
  </header>
  <main>
    <section class="main">
      <div class="main-body">
        <h2>Doctors List</h2>
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th class="light-grey-text">Full Name</th>
                <th class="light-grey-text">Date</th>
                <th style="color: #333;">Price</th>
                <th class="light-grey-text">Email</th>
                <th class="light-grey-text">Consultation Times</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doctor of doctors">
                <td class="center-align">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="user-image"><br>
                  <span class="user-link">{{ doctor.firstName }} {{ doctor.lastName }}</span>
                  <span class="user-subhead">{{ doctor.proficiency }}</span>
                </td>
                <td class="center-align light-grey-text">
                  {{ doctor.createdAt | date: 'yyyy-MM-dd' }}
                </td>
                <td class="center-align">
                  <span style="color: #333;">{{ doctor.price }}</span>
                </td>
                <td class="center-align light-grey-text">
                  <span class="user-email">{{ doctor.email }}</span>
                </td>
                <td class="center-align light-grey-text">
                  <div *ngFor="let time of consultationTimes; let i = index">
                    <button class="btn btn-primary" (click)="onTimeClick(consultationTimes[i], doctor.id)">{{ consultationTimes[i] }}</button>
                    <span *ngIf="consultationTimes[i + 1]"> - </span>
                    <button class="btn btn-primary" *ngIf="consultationTimes[i + 1]" (click)="onTimeClick(consultationTimes[i + 1], doctor.id)">{{ consultationTimes[i + 1] }}</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>    
 </div>
</body>
</html>



